# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Pycharm
.idea/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Generated / export data folders
dividend_history/
monthly_dividend_breakdown/
Portfolio_Breakdown/
recent_stock_data/